<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wps20-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.wps20.TestRunListener" />
    <listener class-name="org.opengis.cite.wps20.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.wps20.TestFailureListener" />
  </listeners>

  <test name="BasicTests">
    <packages>
      <package name="org.opengis.cite.wps20.basictests" />
    </packages>
  </test>
  <test name="Synchronous">
    <packages>
      <package name="org.opengis.cite.wps20.synchronous" />
    </packages>
  </test>
  <test name="Asynchronous">
    <packages>
      <package name="org.opengis.cite.wps20.asynchronous" />
    </packages>
  </test>
</suite>
